/*
Colorblind safe color palette from colorbrewer2.org.
#d7191c - Red
#000000 - Black
#ffffff - white
#2c7bb6 - Blue
#fe9929 - Yelllow
*/
body {
    background-color: #000000;
    color: #d7191c;
    text-align: center;
    margin: 0;
    }
    h1 {
      color: #000000;
      padding: 5px;
      margin: 0;
      }
      #body-container {
        background-color: #ffffff;
        max-width: 1000px;
        margin: auto;
        min-height: 100vh;
        border: 2px solid #fe9929;
        border-radius: 25px;
        overflow: hidden;
      }
      #header {
        background-color: #023858;
      }
      #profile-picture {
        float: left;
      }
      #welcome-text {
        padding-top: 25px;
        font-size: 25px;
      }
      #research-interests {
        text-align: left;
        font-size: 25px;
        position: relative;
        left: 50px
      }
